<form novalidate name="{{formName}}">
    <div class="form-group">
        <label>Name*:</label>
        <input name="lensName" type="text" class="form-control"
            required ng-model="lens.name">
    </div>
    
    <div class="form-group">
        <label>Valid to*:</label>
        <p class="input-group">
          <input type="text" class="form-control" readonly
                 uib-datepicker-popup="{{datePickerFormat}}" 
                 ng-model="lens.validToDate" name="validToDate" 
                 is-open="datePickerPopup.opened"
                 datepicker-options="{minMode: 'month'}" 
                 datepicker-mode="month"
                 ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatePickerPopup()">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
    </div>
    
    <div class="form-group">
        <label>Optic power*:</label>
        <input name="lensPower" type="text" class="form-control"
            required ng-model="lens.power">
    </div>
    
    <div class="form-group">
        <label>Amount*:</label>
        <input name="lensAmount" type="number" class="form-control" required ng-model="lens.amount">
    </div>
</form>

