<div> 
        <div class="pull-left label label-primary"></div>
        <div class="form-group">
            <label>Name:</label>
            <input name="lensName" type="text" class="form-control"
                required ng-model="lens.name">
        </div>
        <div class="form-group">
            <label>Valid to:</label>
            <input name="lensValidTo" type="text" class="form-control"
                required ng-model="lens.validTo">
        </div>
        <div class="form-group">
            <label>Optic power:</label>
<!-- 				<input type="text" class="form-control" 
                datepicker-popup="MM/yyyy" 
                ng-model="dt" 
                is-open="opened" 
                datepicker-options="{minMode: 'month'}" 
                datepicker-mode="'month'"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span> -->

            <input name="lensPower" type="text" class="form-control"
                required ng-model="lens.power">
        </div>
        <div class="form-group">
            <label>Amount:</label>
            <input name="lensAmount" type="number" class="form-control" required ng-model="lens.amount">
        </div>
</div>
